.modal-content {
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.modal-header {
  border-bottom: none;
}

.form-control {
  border: 2px solid #97CADB;
  transition: all 0.3s ease-in-out;
}

.form-control:focus {
  border-color: #018ABE;
  box-shadow: 0 0 5px rgba(1, 138, 190, 0.3);
}

.btn-primary {
  background-color: #001B48;
  border: none;
}

.btn-primary:hover {
  background-color: #02457A;
}

.btn-danger:hover {
  background-color: #a71d2a;
}

.btn-secondary {
  background-color: #97CADB;
  color: #001B48;
}

.btn-secondary:hover {
  background-color: #018ABE;
}

/* Responsive Design */
@media (max-width: 576px) {
  .modal-dialog {
    width: 90%;
  }

  .btn {
    font-size: 14px;
    padding: 10px;
  }
}
